{
  "metadata": {
    "name": "my-app-credentials"
  },
  "apiVersion": "v1",
  "kind": "Secret",
  "data": {
    "login": "base64-encoded-login",
    "password": "base64-encoded-password",
    "apikey": "base64-encoded-apikey"
  }
}